#timer{
  font-size: 60px;
}

#button{
  display: flex;
}

#start{
  padding: 15px;
  margin-right: 5px;
  background-color: #F2F2F2;
}

#stop{
  padding: 15px;
  margin-right: 5px;
  background-color: #F2F2F2;
}

#reset{
  padding: 15px;
  background-color: #F2F2F2;
}